<h3> All Ideas </h3>

<% @ideas.each do |idea| %>
<ul> Name: <%= idea.title %><br/>
     Idea: <%=  idea.idea %><br/>
     Category: <%= idea.category.name %><br/>
     Image: <%=  %></ul>
<%= link_to "Edit", edit_user_idea_path(@user, idea) %>
<%= link_to "Delete", user_idea_path(@user, idea), method: "delete" %>
<% end %>

<h4> <%= link_to "Add New Idea", new_user_idea_path(@user) %> </h4>
