
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Idea Box</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>

<div class="title">
<h1><%=@user.name%>'s Ideas </h1><br/>
</div>
<div class="all_ideas">
<% @ideas.each do |idea| %>
<ul> <p="idea_title"><%= link_to idea.title, user_idea_path(@user, idea) %></p>
     Idea: <%=  idea.idea %><br/>
     Category: <% if idea.category == nil %>
                <%= "No Category" %>
                <% else %>
                <%= idea.category.name %>
                <% end %><br/>
     Image(s): <br/> <% if idea.images == nil %>
            <%= "No Images" %>
            <% else %>
                <% idea.images.each do |image| %>
                <%= image_tag(image.url) %><br/><br/>
                <%end  %>
    <% end %>
<p class="edit_delete"><%= link_to "Edit", edit_user_idea_path(@user, idea) %>
<%= link_to "Delete", user_idea_path(@user, idea), method: "delete" %></p> </ul>
<% end %>
</div>
<h4> <%= link_to "Add New Idea", new_user_idea_path(@user) %> </h4>
<h4> <%= link_to "Home", user_path(@user) %> </h4>
