

<h1> Welcome, <%= current_user.name %>!</h1>

<%= link_to "See Your Ideas", user_ideas_path(current_user) %><br/>
<%= link_to "Add a New Idea", new_user_idea_path(current_user) %><br/>

<% if current_user.admin? %>
<%= link_to "Add New Category", new_admin_category_path %><br/>
<%= link_to "Add New Image", new_admin_image_path %><br/>
<% end  %>
