<h1> Welcome, <%= current_user.name %>!</h1>

<%= link_to "See Your Ideas", user_ideas_path(current_user) %><br/>
<%= link_to "Add a New Idea", new_user_idea_path(current_user) %><br/>

<% if current_user.admin? %>
<%= link_to "See Categories", admin_categories_path %><br/>
<%= link_to "See Images", admin_images_path %><br/>
<% end  %>

<%= link_to "Home", root_path %>
